.header {
  margin: 6rem 0;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.4rem;

  .nav {
    display: flex;
    &__link {
      + .nav__link {
        margin-left: 2.6rem;
      }
      &.active {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 1rem;
      }
    }
  }
  .btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    cursor: pointer;
    border: 1px transparent solid;
    border-radius: 1rem;
    transition: all 200ms linear;

    .nav__title {
      color: rgba(255, 255, 255, 0.7);
      margin-left: 1rem;
      transition: transform 100ms linear;
      will-change: transform;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.2);
      .nav__title {
        color: white;
        transform: translateY(-2px);
      }
    }
  }
}
