.navigator-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem;
  border: 1px transparent solid;
  border-radius: 1rem;

  cursor: pointer;
  background-color: transparent;
  transition: all 200ms linear;

  .navigator-text {
    margin: 0 0 0 1rem;
    color: var(--primary-color);
    transition: transform 100ms linear;
    will-change: transform;
  }

  &.round {
    border-radius: 999px;
  }

  &.hover:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }

  &.isTransition {
    &.header {
      &:hover {
        .navigator-text {
          color: white;
          transform: translateY(-2px);
        }
      }
    }

    &.more {
      &:hover {
        transform: translateY(-2px);
        :nth-child(1) {
          transform: scale(105%);
        }
      }
    }
  }
}
