.card-wrapper {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  //   width: 200px;
  //   margin: 0px auto;
  text-align: center;
  justify-items: center;
  align-items: center;
}
.card-top {
}
.card-img {
}
.card-bottom {
}
.card-title {
  margin: 0;
}
.card-info {
}
.card-desc {
}
.wrapper-icon {
  display: flex;
  align-items: center;
  gap: 2rem;
}
