.card-detail__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  --height: 40rem;
  --width: 58.6rem;
  display: grid;
  //   grid-template-columns: auto 24.4rem;
  align-items: center;
  height: var(--height);
  width: var(--width);
  background-color: rgba(25, 24, 63, 0.98) none repeat scroll 0% 0%;
  padding: 20px;
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset;
  gap: 2rem;
  border-radius: 2rem;
  margin: 4rem 0 2rem;
  &.left {
    grid-template-columns: 24.4rem auto;
  }
  &.right {
    grid-template-columns: auto 24.4rem;
  }
}
.card-topic__wrapper {
  height: 323px;
  overflow-y: scroll;

  mask-image: linear-gradient(
    rgb(255, 255, 255) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    rgb(255, 255, 255) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  &::-webkit-scrollbar {
    width: 1px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }
}
.card-left {
  height: 100%;
}
.card-title {
  font-size: 13px;
  margin-bottom: 2rem;
}
.card-right {
  height: 100%;
  //   max-width: 24.4rem;
}
